**Part One**

In [15]:
data = []

with open('input.txt') as my_input:
    for line in my_input:
        data.append(list(line.strip()))

In [16]:
# check for rows to duplicate
row_dup = []
col_dup = []

for row in range(len(data)):
    dup = True
    for col in range(len(data[row])):
        if data[row][col] == '#':
            dup = False
    if dup:
        row_dup.append(row)
        
for col in range(len(data[0])):
    dup = True
    for row in range(len(data)):
        if data[row][col] == '#':
            dup = False
    if dup:
        col_dup.append(col)

In [17]:
dup = data[row_dup[0]]

# insert extra rows
for row in range(len(row_dup)):
    data.insert(row + row_dup[row], dup)

# insert extra columns
for col in range(len(col_dup)):
    for row in range(len(data)): # not quite as simple as inserting extra rows...
        data[row].insert(col + col_dup[col], '.')

In [18]:
counter = 0
all_galaxies = []

for row in range(len(data)):
    for col in range(len(data[0])):
        if data[row][col] == '#':
            all_galaxies.append([row, col])

In [19]:
distances = []

for galaxy in range(len(all_galaxies)):
    if galaxy != len(all_galaxies) -1:
        for s_gal in range(galaxy + 1, len(all_galaxies)):
            distance = abs(all_galaxies[galaxy][0] - all_galaxies[s_gal][0]) + abs(all_galaxies[galaxy][1] - all_galaxies[s_gal][1])
            distances.append(distance)

In [20]:
sum(distances)

9769724

**Part Two**

In [12]:
data = []

with open('input.txt') as my_input:
    for line in my_input:
        data.append(list(line.strip()))

In [13]:
# check for rows to duplicate
row_dup = []
col_dup = []

for row in range(len(data)):
    dup = True
    for col in range(len(data[row])):
        if data[row][col] == '#':
            dup = False
    if dup:
        row_dup.append(row)
        
for col in range(len(data[0])):
    dup = True
    for row in range(len(data)):
        if data[row][col] == '#':
            dup = False
    if dup:
        col_dup.append(col)

In [ ]:
dup = data[row_dup[0]]

# insert extra rows
for row in range(len(row_dup)):
    data.insert(row + row_dup[row], dup)

# insert extra columns
for col in range(len(col_dup)):
    for row in range(len(data)): # not quite as simple as inserting extra rows...
        data[row].insert(col + col_dup[col], '.')

In [14]:
counter = 0
all_galaxies = []

for row in range(len(data)):
    for col in range(len(data[0])):
        if data[row][col] == '#':
            all_galaxies.append([row, col])

In [15]:
distances = []

for galaxy in range(len(all_galaxies)):
    if galaxy != len(all_galaxies) -1:
        for s_gal in range(galaxy + 1, len(all_galaxies)):
            distance = abs(all_galaxies[galaxy][0] - all_galaxies[s_gal][0]) + abs(all_galaxies[galaxy][1] - all_galaxies[s_gal][1])
            distances.append(distance)

In [16]:
sum(distances)

9166712

In [17]:
9769724-9166712

603012

In [19]:
603012*(1000000-1) + 9166712

603020563700